<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    textarea {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #1b1e22; /* Use your hex color code here */
            color: #fff;
        }
  </style>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>System call based CPU execution time</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
  <!-- <link rel="stylesheet" href="styles.css"> -->
</head>
<body>
  <div class="container-fluid">
    <div class="container align-items-center section">
      <div class="title text-light">A predictive model to find correlation between CPU execution time and system calls performed</div>
      <div class="d-flex btn-section">
        <form action = "/submit" method = "POST" enctype = "multipart/form-data">
         <centre><br><textarea id="code" name="code" rows="5" cols="40" placeholder="Enter your code here" required></textarea></centre>
         <centre><input type = "submit" style="color:white;background-color:#0e64ed;height:60px; width:100px;border: none"/></centre>
        <!-- <input type="file" id="myfile" class="w-100"> -->
        <!-- <button class="btn w-50"><a href="/preview.html" class="text-decoration-none text-light">Upload</a></button> -->
      </div>
    </div>
  </div>
  
  <div class="img-container container p-5 my-5">
    <h2 class="text-center text-light">Project Details</h2>
    <div class="d-flex">
      <img src="{{url_for('static',filename='1.jpg')}}" alt="Deep Learning Image col-3">
      <p class="text-left text-light border-left-dashed p-4">
        In our system, program execution relies on system resource allocation through multiple system
        calls to the Operating System (OS), potentially impacting CPU execution time. To investigate
        this correlation, we employ a hybrid predictive model integrating LightGBM and CatBoost
        algorithms. Data collection involves executing diverse programs under Strace, gathering
        system call and CPU execution time data from 377 Python code samples obtained from various
        GitHub repositories. Employing regex and data conversion techniques, we meticulously
        cleanse and format the data into a CSV file. Subsequently, we train the model using the refined
        dataset. Our primary aim is to quantify the correlation between system calls and CPU execution
        time post-training.
        <br>
        The Correlation between the system calls and CPU execution time 0.09394870588
      </p>
    </div>
  </div>
  <div class="footer">
     <div class="logo text-center">
      <i class="fa fa-graduation-cap bg-white text-dark p-2 m-2 mt-3" aria-hidden="true"></i>
      <i class="fa fa-graduation-cap bg-white text-dark p-2 m-2 mt-3" aria-hidden="true"></i>
      <i class="fa fa-graduation-cap bg-white text-dark p-2 m-2 mt-3" aria-hidden="true"></i>
     </div>
     <div class="info-section d-flex contaier justify-content-center">
      <div class="m-2 text-light">Venkatesh T</div>
        <div class="m-2 text-light">Swati Sucharita</div>
        <div class="m-2 text-light">B Anupama</div>
     </div>
  </div>
  
</body>
</html>